* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --clr_front: #0f6ebe;
  --clr_black: #2c3e50;
  --clr_white: #f2f6f7;
}

.row {
  font-size: 0;
  white-space: nowrap;
  overflow: hidden;
}
.row > * {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  white-space: normal;
  height: 100%;
  overflow: hidden;
}

.pave {
  text-align: center;
  font-size: 0;
  overflow: hidden;
}
.pave > * {
  display: inline-block;
  text-align: left;
  font-size: 16px;
  margin: 5px;
  overflow: hidden;
}

html {
  font-family: Calibri, 'Franklin Gothic', sans-serif;
  color: var(--clr_black);
  background-color: var(--clr_white);
}

a {
  text-decoration: none;
  color: var(--clr_front);
}

.wrapper {
  /* width: 80%; */
  min-width: 640px;
  max-width: 1920px;
  margin: 0 auto;
}
/* .wrapper div {
  border: 1px solid #000;
} */

.header {
  height: 100px;
  border-bottom: 1px solid #ccc;
}
.header > div {
  width: calc(100% / 3);
}
.header > .left,
.header > .right {
  width: 200px;
}
.header > .center {
  width: calc(100% - 200px * 2);
}

.wrap-img {
  height: 100%;
  text-align: center;
  overflow: hidden;
  padding: 5px;
}
.wrap-img img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.wrap-search {
  max-width: 700px;
  margin: 0 auto;
  width: 90%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #ccc;
}
.wrap-search:hover {
  box-shadow: 0 0 5px 0 #c0c3c5;
}
.wrap-search:focus-within {
  border: 1px solid #789;
}
.wrap-search .left {
  width: calc(100% - 50px);
}
.wrap-search .right {
  width: 50px;
}

.left > input {
  width: 100%;
}
.wrap-search input[type='search'] {
  position: relative;
  color: var(--clr_black);
  width: 100%;
  text-indent: 3px;
  font-size: 18px;
  line-height: 50px;
  padding: 0;
  border: 0;
  outline: 0;
}
.wrap-search input[type='submit'] {
  height: 50px;
  width: 50px;
  font-size: 18px;
  background: #fff url(../img/bg/search.png) center / 70% no-repeat;
  border: 0px solid #ccc;
}
.wrap-search input[type='submit']:hover {
  background: #f0f3f5 url(../img/bg/search-hover.png) center / 70% no-repeat;
}

.wrap-account {
  height: 100%;
  text-align: center;
}
.wrap-account > div {
  height: calc(100% / 3);
  padding: 5px;
}
.wrap-account button {
  width: 50%;
  cursor: pointer;
}

.main {
  width: 96%;
  margin: 0 auto;
  padding: 15px 5px;
}
.main > .bottom > .left {
  width: 50%;
}
.main > .bottom > .right {
  width: 50%;
}

.wrap-navigation {
  text-align: center;
  padding: 15px;
}
.wrap-navigation > a {
  margin-left: 5px;
  font-weight: bold;
}
.wrap-navigation > a::before {
  content: '> ';
}

.slider > .navigation {
  text-align: center;
}

.caption {
  text-align: center;
}
.wrap-info {
  width: 100%;
  padding: 10px;
}

.wrap-info-buttons > .buttons {
  text-align: center;
}
.wrap-info-buttons > .buttons > button {
  margin: 0 10px;
  cursor: pointer;
}

.container-products {
  padding: 5px;
}

a {
  display: inline-block;
  text-decoration: none;
}

.wrap-product {
  position: relative;
  cursor: default;
  width: 350px;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 0 5px 0 #d0d3d5;
  background: white;
  border: 1px solid #fff;
}

.wrap-product .row > div {
  width: calc(100% / 3);
  text-align: center;
  padding: 5px;
}
.wrap-product .row > div > button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
  box-shadow: 0 0 10px 0 #ccc;
}

.wrap-product .row > div:nth-child(1) > button {
  background: #fff url(../img/bg/addtocart.png) center / 70% no-repeat;
}
.wrap-product .row > div:nth-child(1) > button:hover {
  background: #f0f3f5 url(../img/bg/addtocart-hover.png) center / 70% no-repeat;
}
.wrap-product .row > div:nth-child(1) > button.cart-btn {
  background: #85ffff url(../img/bg/addtocart-active.png) center / 70% no-repeat;
}
.wrap-product .row > div:nth-child(2) > button {
  background: #fff url(../img/bg/tofav.png) center / 70% no-repeat;
}
.wrap-product .row > div:nth-child(2) > button:hover {
  background: #f0f3f5 url(../img/bg/tofav-hover.png) center / 70% no-repeat;
}
.wrap-product .row > div:nth-child(2) > button.favorite-btn {
  background: #f0f3f5 url(../img/bg/tofav-active.png) center / 70% no-repeat;
}
.wrap-product .row > div:nth-child(3) > button {
  background: #fff url(../img/bg/tocompare.png) center / 70% no-repeat;
}
.wrap-product .row > div:nth-child(3) > button:hover {
  background: #fff url(../img/bg/tocompare-hover.png) center / 70% no-repeat;
}
.wrap-product .row > div:nth-child(3) > button.compare-btn {
  background: #85ff99 url(../img/bg/tocompare.png) center / 70% no-repeat;
}

.price {
  text-align: center;
}
.price > p {
  font-weight: bold;
  font-size: 25px;
  /* background-color: rgb(104, 210, 104); */
  border-radius: 10px;
  padding: 10px;
}
.price > p > span {
  font-weight: normal;
}

.specs > p > span {
  font-weight: bold;
}

.payment-options {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.guarantee {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.recomend {
  text-align: center;
}
.recomended-title {
  text-align: center;
  padding: 20px;
}

.recomend > a > img {
  height: 150px;
  border-radius: 20px;
}
.recomend > a > img:hover {
  box-shadow: 0 0 30px rgb(0, 187, 255);
}
.recomend > p {
  padding: 10px;
}

.similar {
  text-align: center;
}

.similar-title {
  text-align: center;
  padding: 20px;
}

.similar > a > img {
  height: 150px;
  border-radius: 20px;
}

.similar > a > img:hover {
  box-shadow: 0 0 30px rgb(0, 187, 255);
}

.similar > p {
  padding: 10px;
}

.watched {
  text-align: center;
}

.watched-title {
  text-align: center;
  padding: 20px;
}

.watched > a > img {
  height: 150px;
  border-radius: 20px;
}

.watched > a > img:hover {
  box-shadow: 0 0 30px rgb(0, 187, 255);
}

.watched > p {
  padding: 10px;
}

.tile {
  width: calc(25% - 10px);
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: top;
}

.container-comments > .top {
  height: 15%;
}
.container-comments > .bottom {
  height: 85%;
}
.comments-list > div {
  height: unset;
}
.comments-list {
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  white-space: normal;
}
.container-comments > .top {
  text-align: center;
}
.wrap-comments {
  border: 3px solid #2f7397;
  background-color: #396479;
}
.userphoto {
  height: 100px;
}
.wrap-p > p {
  overflow: visible;
}
.container-comments {
  color: rgb(17, 17, 17);
}
.wrap-card-comment {
  margin: 10px;
}
.card-comment {
  width: 400px;
  height: auto;
  background-color: #c3c8ca;
  border: 1px solid #7b7b7b;
  border-radius: 10px;
  text-align: left;
  padding: 10px;
}
.card-comment > .left {
  width: 30%;
}
.card-comment > .right {
  width: 70%;
}
.card-comment > .left > .top {
  text-align: center;
  height: 15%;
  padding: 5px;
}
.card-comment > .left > .bottom {
  height: 85%;
}

.comments-list > div {
  height: unset;
}
.comments-list {
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  white-space: normal;
}

.footer {
  margin: 5px;
}
.footer > .top {
  border: 5px solid var(--clr_front);
}
.footer .wrap-menu > div,
.footer .wrap-links > div {
  margin: 5px;
  padding: 5px;
}
.footer .wrap-menu,
.footer .wrap-links {
  width: 50%;
}
.footer .wrap-links {
  background-color: var(--clr_front);
}
.footer .wrap-links a {
  color: var(--clr_white);
  font-weight: normal;
}

.footer .wrap-copyrights,
.footer .wrap-menu {
  text-align: center;
}

.footer .wrap-copyrights {
  padding: 15px;
}

.btn {
  background: linear-gradient(45deg, hsl(255, 85%, 60%), hsl(180, 85%, 60%));
  border: 0;
  padding: 5px 15px;
  color: var(--clr_white);
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  text-shadow: 0 0 5px #234;
}
.btn:hover {
  color: #fff;
  background: linear-gradient(45deg, hsl(255, 85%, 65%), hsl(180, 85%, 65%));
  box-shadow: 0 0 5px 0 #789;
}

/* RATING */
.wrap-rating .rating {
  text-align: center;
}
.wrap-rating input {
  display: none;
}
.wrap-rating label:after {
  cursor: pointer;
  transition: all 0.3s;
  content: '★';
  font-size: 32px;
  color: #f9bf3b;
  text-shadow: 0 0 20px #f9bf3b;
  opacity: 1;
}
.wrap-rating #r0:checked ~ .rating > label::after,
.wrap-rating #r1:checked ~ .rating > [for='r1'] ~ label::after,
.wrap-rating #r2:checked ~ .rating > [for='r2'] ~ label::after,
.wrap-rating #r3:checked ~ .rating > [for='r3'] ~ label::after,
.wrap-rating #r4:checked ~ .rating > [for='r4'] ~ label::after,
.wrap-rating #r5:checked ~ .rating > [for='r5'] ~ label::after {
  content: '☆';
  color: #444;
  text-shadow: none;
  opacity: 0.5;
  color: rgba(68, 68, 68, 0.5);
}

/* SLIDER */
.bottom > .left {
  border-radius: 25px;
  padding: 5px;
  box-shadow: 0 0 5px 0 #d0d3d5;
  background: white;
  border: 1px solid #fff;
  padding: 10px;
}
.slider {
}
.navigation > label > img {
  max-height: 400px;
  width: auto;
}
.slider > .specs {
  /* background-color: red; */
}
.navigation {
  margin: 0 auto;
}
.navigation > label {
  display: inline-block;
  width: 0%;
  overflow: hidden;
}
.navigation img {
  width: 60%;
  cursor: pointer;
  border-radius: 30px;
  /* transition: transform 0.3s ease;  */
}
.navigation img:hover {
  /* transform: scale(1.1);  */
}

#slider-r1:checked ~ .navigation > label:nth-child(1) {
  width: 100%;
}
#slider-r2:checked ~ .navigation > label:nth-child(2) {
  width: 100%;
}
#slider-r3:checked ~ .navigation > label:nth-child(3) {
  width: 100%;
}
#slider-r4:checked ~ .navigation > label:nth-child(4) {
  width: 100%;
}
#slider-r5:checked ~ .navigation > label:nth-child(5) {
  width: 100%;
}
#slider-r6:checked ~ .navigation > label:nth-child(6) {
  width: 100%;
}
.slider > input {
  visibility: hidden;
}
